DataAccessLayer/obj/
GeoToolsObjects/obj/Debug/
NauticalWrecksFront/bin/
NauticalWrecksFront/NauticalWrecksFront/bin/
NauticalWrecksFront/NauticalWrecksFront/packages/
NauticalWrecksFront/packages/
NauticalWrecksFront/NauticalWrecksFront/obj/
DataAccessLayer/bin/Debug/
GeoToolsObjects/obj/
GeoToolsObjects/bin/
NauticalWrecksFront/NauticalWrecksFront/.vs/
NauticalWrecksFront/obj/
NauticalWrecksFront/.vs/
